.card-header{
  color: maroon;
}

.card-body{
  background-color: mediumaquamarine;
}

.entire-card{
  
  margin-bottom: 5%;
  

}
#top-card {
  margin-top: 3%;
}

p { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family:Georgia;
  color: rgb(0, 128, 32);
}